/develop/lib-aponwaocore/build/
/develop/lib-aponwaocore/dist/
/develop/lib-aponwaocore/lib/CopyLibs/
/develop/lib-aponwaocore/lib/nblibraries.properties
/develop/lib-aponwaocore/nbproject/
/develop/lib-aponwaocore/build.xml
/develop/lib-aponwaocore/manifest.mf
/develop/lib-aponwaodesktop/build/
/develop/lib-aponwaodesktop/dist/
/develop/lib-aponwaodesktop/lib/CopyLibs/
/develop/lib-aponwaodesktop/lib/nblibraries.properties
/develop/lib-aponwaodesktop/nbproject/
/develop/lib-aponwaodesktop/build.xml
/develop/lib-aponwaodesktop/manifest.mf
/develop/aponwao-java-ng/build/
/develop/aponwao-java-ng/dist/
/develop/aponwao-java-ng/lib/CopyLibs/
/develop/aponwao-java-ng/lib/nblibraries.properties
/develop/aponwao-java-ng/nbproject/
/develop/aponwao-java-ng/build.xml
/develop/aponwao-java-ng/manifest.mf
/develop/aponwao-java-ng/nbproject/private/
/packer/aponwao/resources/images/Thumbs.db
/packer/aponwao/resources/images/img/Thumbs.db
