/develop/lib-aponwaocore/build/
/develop/lib-aponwaocore/dist/
/develop/lib-aponwaocore/lib/CopyLibs/
/develop/lib-aponwaocore/lib/nblibraries.properties
/develop/lib-aponwaocore/nbproject/
/develop/lib-aponwaocore/build.xml
/develop/lib-aponwaocore/manifest.mf
/develop/lib-aponwaodesktop/build/
/develop/lib-aponwaodesktop/dist/
/develop/lib-aponwaodesktop/lib/CopyLibs/
/develop/lib-aponwaodesktop/lib/nblibraries.properties
/develop/lib-aponwaodesktop/nbproject/
/develop/lib-aponwaodesktop/build.xml
/develop/lib-aponwaodesktop/manifest.mf
packer/aponwao/resources/images/Thumbs.db
/packer/aponwao/resources/images/img/Thumbs.db
/develop/JavaApplication4/nbproject/private/
/develop/JavaApplication4/build/